.btn {
	width: 100%
}

.change-site {
	margin: 10px 0 10px 0;
}

.col-0 {
	margin-right: 10px;	
}

.input {
	padding: 0 30vw 0 30vw;
}

.row {
	margin: 10px;
}

.detail-container {
	color:black;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0 10px 0;
}

.question-detail {
	height: fit-content;	
	border-radius: 10px;
	margin-left: 10px;
	padding: 10px;
	background-color: rgb(235, 223, 242);
}

.question-list {
	height: fit-content;
	border-radius: 10px;
	padding: 10px 10px 0px 10px;
	background-color: rgb(235, 223, 242);
}

.question-preview {
	border-radius: 10px;
	margin: 10px 0 10px 0;
	padding: 10px;
	background-color: white;
}

span {
	font-weight: bold;
	color: #17a2b8;
}

